
{{ define "main" }}
<div class = 'blog_post'>


  <div class = 'post'>

     <div class = 'header {{ .Params.article_type }}'>

        <h2 class = 'blog_title'> {{ .Title }} </h2>

        <div class = 'blog_summary'> {{ .Params.summary}} </div>

         <br>

        <time> <b> Published </b> <br>
        {{ .Date.Format "2 January 2006" }}
        </time>

    </div>


    <div class = 'content'>
      {{ .Content}}
    </div>


    <div class = 'comments'>
    {{ partial "comments.html" . }}
    </div>

  </div>

  {{ if not (or (eq .Title "About") (eq .Title "ML Resources") (eq .Title "Home")) }}
    <div class = 'toc_scroll'>
      <div class = 'toc_container'>
        <nav class="tableContents">
          <span>Table of Contents</span>
        </nav>
      </div>
    </div>
    <button id="toc_button"><i class="fas fa-circle-left"></i></button>

  {{end}}




</div>


<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="{{ "js/mathjax_config.js" | relURL }}"></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@4.0.0-alpha.1/es5/tex-mml-chtml.js"></script>



{{ end }}



