
<footer class="site-footer">
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


   <script src="{{ "js/external_links.js" | relURL }}"></script>
   <script src="{{ "js/number_tables.js" | relURL }}"></script>
   <script src="{{ "js/number_figures.js" | relURL }}"></script>
   <script src="{{ "js/codefold.js" | relURL }}"></script>. <!-- important! make sure codefold comes before copy_code -->
  <script src="{{ "js/copy_code.js" | relURL }}"></script>




</footer>



