
#refs, a[role=doc-biblioref]:hover{
  color: gray;
}

#refs a:visited, a[role=doc-biblioref]:visited{
  color: var(--hover-color);
}

/* unvisited link */
#refs a:hover {
  color: blue;
  opacity: 1;
}

a[rel*="noopener"]{
  text-decoration: none;
}

a[rel*="noopener"]:visited{
  color: gray;
}


a[rel*="noopener"]:hover{
  color: blue;
   text-decoration: underline;
}



a[role=doc-biblioref]:hover {
  text-decoration: none;
  color: gray;
}

a[href*="#"]{
   color: blue;
   text-decoration: none;
}

a[href*="#"]:visited{
   color: gray;
}

a[href*="#"]:hover{
   color: blue;
   text-decoration: underline;
}



a[href*="eq"], a[href*="fig"] {
  font-family: no-parens;
}
a[href*="eq"]:visited, a[href*="fig"]:visited{
   color: gray;
}

a[href*="eq"]:hover, a[href*="fig"]:hover {
   color: blue;
   font-weight: bold;
   text-decoration: none;
}




