
:root {
  --navbar-color: #002241;
  --navbar-width: 18rem;
  --home-color: #d170c7;
  --technical-color: #33c304;
  --coding-color:  #e38f01;
  --simulation-color: #C7547D;
  --resources-color: #52aafa;
  --about-color: #d4bd04;
  --hover-color: #00182d;
}


@import 'navbar';
@import 'figures';
//.figure {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  flex-direction: column;
//  padding-top: 2rem;
//  padding-bottom: 2rem;
//  margin: 0 auto;
//   max-width: 45rem;
//  height: auto;
//}
//
//.figDivLabel{
//  max-width: 45rem;
//  position: relative;
//   display: flex;
//  color: var(--navbar-color);
//  font-weight: bold;
//}
//
//
//.figTitle{
//   max-width: inherit;
//  color: var(--navbar-color);
//  padding-bottom: 0.5rem;
//  font-style: italic;
//}
//
//.figNote{
//   max-width: inherit;
//  position: relative;
//  font-size: 9pt;
//  display: flex;
//}
//
//
//
//.figLabel::before {
//  display: block;
//  content: "";
//  width: 6.75rem;
//  height: 2.25rem;
//  position: absolute;
//  top: -0.5rem;
//  left: -1rem;
//  border-top: 1.5px solid var(--hover-color);
//  border-left: 1.5px solid var(--hover-color);
//}
//
//
//.figLabelAbout::before {
//  display: block;
//  content: "";
//  width: 6.75rem;
//  height: 2.25rem;
//  position: absolute;
//  top: -0.5rem;
//  left: -1rem;
//  border-top: 1.5px solid var(--hover-color);
//  border-left: 1.5px solid var(--hover-color);
//}
//
//
//.figNote::before {
//  display: block;
//  content: "";
//  width: 6.75rem;
//  height: 2.25rem;
//  position: absolute;
//  bottom: -0.5rem;
//  right: -1rem;
//  border-bottom: 1.5px solid var(--hover-color);
//  border-right: 1.5px solid var(--hover-color);
//}
//


.blog_post {
  padding: 0;
  margin-left: var(--navbar-width);
  font-family: Helvetica;
  background: white;
}



.blog_title {
  color: var(--hover-color);
  background: white;
  font-size: 1.75rem;
  text-align: left;
}

.blog_summary{
  font-weight: bold;
  padding-top: 1rem;
  font-size: 0.85rem;
}



time{
  color: var(--navbar-color);
  font-size: 0.6em;
}

.content {
    position: relative;
    max-width: 50rem;
    height: fit-content;
    margin: 0 auto;
    margin-top: 5rem;
    background: white;
    color: var(--hover-color);
    font-size: 14px;
    font-family: palatino;
    padding-bottom: 5rem;
    line-height: 1.5;
}



.r{
  max-width: 80%;
  margin: 0 auto; /*centers block of text*/
}


.blog_title {
    display: none;
  color: var(--hover-color);
  background: white;
  font-size: 1.75rem;
  text-align: left;
}

time{
    display: none;
}




.toggle-button:hover{
  cursor: pointer;
}
.giscus{
  position: relative;
   margin: 0 auto;
    max-width: 800px;
}

a{
  color: var(--navbar-color);
  text-decoration: none;
}

a:hover{
  color: blue;
  text-decoration: underline;
}

a[href*="/technical"] {
   color: var(--technical-color);
}

a[href*="/coding"] {
   color: var(--coding-color);
}

a[href*="/simulation"] {
   color: var(--simulation-color);
}


a[href*="/mlresources"] {
   color: var(--resources-color);
}


a[href*="/coding"], a[href*="/simulation"], a[href*="/technical"], a[href*="/mlresources"] {
    background-color: var(--navbar-color);
   font-family: monospace;
}

a[href*="/coding"]:hover, a[href*="/simulation"]:hover, a[href*="/technical"]:hover, a[href*="/mlresources"]:hover {
    background-color: var(--hover-color);
}

a[href*="/home"]:hover {
   color: var(--home-color);
}

/*top-left corner border*/
img {
  padding-bottom: 0.5rem;
}


a[href*="/about"] {
   color: var(--about-color);
}

@import 'responsive';



/*prevent white dot from appearing at top*/
.MJX_LiveRegion{
 display: none;
}

.MathJax {
  color:var(--navbar-color);
}

.figNote{
  line-height: 1;
}


