
:root {
  --navbar-color: #002241;
  --navbar-width: 18rem;
  --home-color: #d170c7;
  --technical-color: #33c304;
  --coding-color:  #e38f01;
  --simulation-color: #C7547D;
  --resources-color: #52aafa;
  --about-color: #f5dc0e;
  --hover-color: #00182d;
}


@import 'navbar';
@import 'figures';
@import 'responsive';

.blog_post {
  padding: 0;
  margin-left: var(--navbar-width);
  font-family: Helvetica;
  background: white;
}



.blog_summary{
  font-weight: bold;
  padding-top: 1rem;
  font-size: 0.85rem;
}



time{
  color: var(--navbar-color);
  font-size: 0.6em;
}

.content {
    position: relative;
    max-width: 50rem;
    height: fit-content;
    margin: 0 auto;
    margin-top: 5rem;
    background: white;
    color: var(--hover-color);
    font-size: 14px;
    font-family: palatino;
    padding-bottom: 5rem;
    line-height: 1.5;
}



.r{
  max-width: 80%;
  margin: 0 auto; /*centers block of text*/
}


.blog_title {
    display: none;
  color: var(--hover-color);
  background: white;
  font-size: 1.75rem;
  text-align: left;
}

time{
    display: none;
}




.toggle-button:hover{
  cursor: pointer;
}
.giscus{
  position: relative;
   margin: 0 auto;
    max-width: 800px;
}

a{
  color: var(--navbar-color);
  text-decoration: none;
}

a:hover{
  color: blue;
  text-decoration: underline;
}

a[href*="/technical"] {
   color: var(--technical-color);
}

a[href*="/coding"] {
   color: var(--coding-color);
}

a[href*="/simulation"] {
   color: var(--simulation-color);
}


a[href*="/mlresources"] {
   color: var(--resources-color);
}

a[href="/"] {
   color: white;
}

a[href*="/coding"], a[href*="/simulation"], a[href*="/technical"], a[href*="/mlresources"] {
    background-color: var(--navbar-color);
   font-family: monospace;
}

a[href*="/coding"]:hover, a[href*="/simulation"]:hover, a[href*="/technical"]:hover, a[href*="/mlresources"]:hover {
    background-color: var(--hover-color);
}

a[href*="/home"]:hover {
   color: var(--home-color);
}

/*top-left corner border*/
img {
  padding-bottom: 0.5rem;
}


a[href*="/about"] {
   color: var(--about-color);
}



/*prevent white dot from appearing at top*/
.MJX_LiveRegion{
 display: none;
}

.MathJax {
  color:var(--navbar-color);
}

.figNote{
  line-height: 1;
  width: 75%;
}




