



/* bottom right corner border */
.technical_summ:before {
    display: block;
    content: "";
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 97%;
    left: 95%;
    border-bottom: 3px solid var(--navbar-color);
    border-right: 3px solid var(--navbar-color);
}





.page_holder, {
  box-sizing: border-box;
  padding: 0;
  margin-left: var(--navbar-width);
  font-family: baskerville;
}


.technical_summ, .simulation_summ, .coding_summ,  {
    position: relative;
    max-width: 45rem;
    height: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    background: white;
}


/* top corner border */
.technical_summ:after, {
    display: block;
    content: "";
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    top: 0%;
    right: 0;
    left: -2rem;
    border-right: 5px solid var(--technical-color);
}

/* top corner border */
.coding_summ:after, {
    display: block;
    content: "";
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    top: 0%;
    right: 0;
    left: -2rem;
    border-right: 5px solid var(--coding-color);
}


/* top corner border */
.simulation_summ:after {
    display: block;
    content: "";
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    top: 0%;
    right: 0;
    left: -2rem;
    border-right: 5px solid var(--simulation-color);
}






/*css for unordered list*/
.posts{
  padding: 0;
}

.posts a{
  text-decoration: none;
}

.items {
  font-size: 15px;
  list-style: none;
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: var(--navbar-color);
}

.items a:visited {
  color: #4B4747;
}

.items a:hover {
 text-decoration: underline;
}


/*NAVIGATION bar  */
body {
  font-family: monospace;
}


/*side panel of navigation bar  */
 .navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--navbar-width); /*keeps same width as window changes width */
  height: 100vh; /*entire height of window  */
  background: var(--navbar-color);
}

/*font specification of sidebar title  */
h1 {
  display: block;
  color: white;
  text-align: right;
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color:  #002241;
  padding-right: 5px;
}

/*specification of list style*/
.navbar-links{
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 15px;
  list-style: none;
  padding-right: 5px;
}

.navbar-links li a{
  text-decoration: none;
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
 }


/*embolden and underline when link in navigation bar is clicked*/
 .navbar-links a:hover {
 font-weight: bold;
 text-decoration: underline;
 background-color: #00182d;
}

.home{
  color: var(--home-color);
}

.technical{
  color: var(--technical-color);
}

.coding {
  color: var(--coding-color);
}

.simulation {
  color: var(--simulation-color);
}

.resources {
  color: var(--resources-color);
}

.about{
  color: var(--about-color);
}

.portal {
  color: #fff;
  font-size: 12px;
  position: absolute;
        bottom: 50px;
        right: 50%;
  }

/*styling for toggle button*/
.toggle-button {
  position: absolute; /*allows bars to be positioned in top right corner*/
  top: 25px;
  right: 20px;
  display: none; /*change to flex */
  flex-direction: column;  /*bars line up on top of each other */
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: #002241;
  border: white;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}



@media (max-width: 1000px) {


  .page_holder, .blog_post{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
  }

  .page_holder .page_content {
    width: 100%;
    height: 100%;
  }



      /*change sidebar to a topbar*/
      .navbar {
      height: 0;
      width: 100%;
      position: fixed;
      }

      /*h1 title is vertically oriented */
     h1{
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }


    /*toggle button appears as three vertically oriented lines  */
    .toggle-button {
      display: flex;
    }

      /*list items are vertically oriented  */
    .navbar-links li a{
      text-align: center;
      background-color: var(--navbar-color);
    }


    .portal {
    position: initial;
    }

     /*removes navigation bar when unclicked */
    .navbar-links{
      display: none;
      padding: 0;
    }

    /*if actve, then display = flex and list items are shown in their vertical orientation  */
    .navbar-links.active {
      display: flex;
      flex-direction: column;
    }

}




