:root {
  --navbar-color: #002241;
  --navbar-width: 20rem;
  --home-color: #d170c7;
  --technical-color: #33c304;
  --coding-color:  #e38f01;
  --simulation-color: #cc7c99;
  --resources-color: #0678e1;
  --about-color: #d4bd04;
  --hover-color: #00182d;
}

@import 'tables';
@import 'figures';
@import 'codeTables';
@import 'footnotes';
@import 'hyperlinks';
@import 'content';
@import 'navbar';

/*COMMENTS*/
  /* select the element that contains the code snippet */
.giscus{
  padding-left: var(--navbar-width);
  max-width: 800px;
  padding-left: var(--navbar-width);
  left: var(--navbar-width);
   margin: 0 auto;
}

/* code chunk features for R code chunks */
.chroma {/*color of parentheses*/
  padding: 0rem;
  margin: 0 auto; /*centers block of text*/
  white-space: normal;
  font-size: 12;
}


/* Background */
/* PreWrapper */

/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: black; }
/* CodeLine */ .chroma .cl {}
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }


/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }


/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: blue }

/* KeywordConstant; NULL, NA */ .chroma .kc, { color: #cf57c2}
.language-js:has(.nx){
  color: #66d9ef;
}
/* KeywordDeclaration */ .chroma .kd { color: var(--navbar-color); }


/* KeywordNamespace */ .chroma .kn { color: var(--navbar-color) }
div[language="bash"] .chroma .kn { color: white }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* Name */ .chroma .n {color: var(--navbar-color); }
/* NameAttribute */ .chroma .na { color: black }

/* NameBuiltin */ .chroma .nb {color: var(--resources-color);  }
div[language="bash"] .chroma .nb { color: white }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: var(--navbar-color);  }
div[language="bash"] .chroma .nc { color: white }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction; function code color  */ .chroma .nf { color: var(--resources-color); }
/* NameFunctionMagic */ .chroma .fm {}

/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {color: var(--navbar-color);  font-weight: bold; }

/* NameOther */
.language-js .nx {
    color: var(--resources-color);
}

 .chroma .nx { color: var(--navbar-color); }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: var(--navbar-color);}
.language-css.nt {
    color: var(--resources-color);
}


/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }

/* LiteralString; string colors */ .chroma .s { color: #cf57c2 }
/* LiteralStringAffix */ .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .chroma .sb { color:  #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: #cf57c2 }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: #cf57c2 }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }


/* LiteralNumber */ .chroma .m { color: blue }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: blue }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator; plus symbol*/ .chroma .o { color: black }


/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Punctuation; color of parentheses */ .chroma .p { color: var(--navbar-color); }
div[language="bash"] .chroma .o {color: white; }
.inline-src .language-bash .o{color:white;}


/* Comment */ .chroma .c { color: var(--hover-color)  }
div[language="bash"] .chroma .n {color: white; }
.inline-src .language-bash {color:white;}
.inline-src .language-bash .nb {color:white;}
/* CommentHashbang */ .chroma .ch { color: gray; }
/* CommentMultiline */ .chroma .cm { color: gray; }
/* CommentSingle */ .chroma .c1 { color: #6a6a6a; }
/* CommentSpecial */ .chroma .cs { color: #6a6a6a }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #6a6a6a }

/* Generic */ .chroma .g { }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericOutput */ .chroma .go {}
/* GenericPrompt */ .chroma .gp { }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
