:root {
  --navbar-color: #002241;
  --navbar-width: 20rem;
  --home-color: #d170c7;
  --technical-color: #33c304;
  --coding-color:  #e38f01;
  --simulation-color: #cc7c99;
  --resources-color: #0678e1;
  --about-color: #d4bd04;
  --hover-color: #00182d;
}

@import 'tables';
@import 'figures';
@import 'codeTables';
@import 'footnotes';
@import 'hyperlinks';
@import 'content';
@import 'sectionContents';
@import 'navbar';
@import 'chroma';



@media (max-width: 1000px) {


  .page_holder, .blog_post{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
  }

  .page_holder .page_content {
    width: 100%;
    height: 100%;
  }



      /*change sidebar to a topbar*/
      .navbar {
      height: 0;
      width: 100%;
      position: fixed;
      }

      /*h1 title is vertically oriented */
     h1{
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }


    /*toggle button appears as three vertically oriented lines  */
    .toggle-button {
      display: flex;
    }

      /*list items are vertically oriented  */
    .navbar-links li a{
      text-align: center;
      background-color: var(--navbar-color);
    }


    .portal {
    position: initial;
    }

     /*removes navigation bar when unclicked */
    .navbar-links{
      display: none;
      padding: 0;
    }

    /*if actve, then display = flex and list items are shown in their vertical orientation  */
    .navbar-links.active {
      display: flex;
      flex-direction: column;
    }

}


/*COMMENTS*/
  /* select the element that contains the code snippet */
.giscus{
  padding-left: var(--navbar-width);
  max-width: 800px;
  padding-left: var(--navbar-width);
  left: var(--navbar-width);
   margin: 0 auto;
}
