
main{
  max-width: 100%;
}

.blog_post {
  padding: 0;
  margin-left: 0;
  font-family: Helvetica;
  background: white;
   padding-left: 20rem;
   display: flex;
  justify-content: center;
   max-width: 90%;
    padding-right: 2rem;
    margin-left: 1rem;
}



.post{
    margin: 0 1rem;
}


.header {
  padding-bottom: 1rem;
  position: relative;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: left;
}

.header::before{
   display: block;
    content: "";
    width: calc(100% + 0.5rem);
    height: 10rem;
    position: absolute;
    bottom:  -0.25rem;
    right: -0.5rem;
   border-bottom: 0.5px solid var(--navbar-color);
  border-right: 0.5px solid var(--navbar-color);
}

.header::after {
    display: block;
    content: "";
    width: 7rem;
    height: 2rem;
    position: absolute;
    top:  -0.25rem;
    left: -0.5rem;
    border-top: 3px solid var(--hover-color);
    border-left: 3px solid var(--hover-color);
}


.blog_summary{
  font-weight: bold;
  padding-top: 1rem;
  font-size: 0.85rem;
}


time{
  color: var(--navbar-color);
  font-size: 0.6em;
}



.content {
    position: relative;
    height: fit-content;
    margin: 0 auto;
    margin-top: 5rem;
    background: white;
    color: var(--hover-color);
    font-size: 14px;
    font-family: palatino;
    padding-bottom: 5rem;
}



.r{
  max-width: 80%;
  margin: 0 auto; /*centers block of text*/
}



h1, h2, h3, h4, h5, h6 {
   font-family: Helvetica;
   text-align: left;
   color: var(--hover-color);
}

h1{
  font-size: 20px;
  font-weight: bold;
   border-bottom: 3px solid var(--hover-color);
}

h2{
  font-size: 18px;
}

h3{
  font-size: 18px;
  font-style: italic;
}


h4 {
  font-weight: bold;
  font-size: 16px;
}

h5 {
  font-size: 14px;
   font-style: italic;
}

h6 {
  font-size: 14px;
}


.content {
  counter-reset: section;
}


.content h1 {
  counter-reset: subsection;
  counter-increment: section;
}

.content h2 {
  counter-reset: subsubsection;
  counter-increment: subsection;
}

.content h3 {
  counter-reset: paragraph;
   counter-increment: subsubsection;
}

.content h4 {
  counter-reset: subparagraph;
   counter-increment: paragraph;
}

.content h5 {
  counter-reset: subsubparagraph;
   counter-increment: subparagraph;
}

.content h6 {
  counter-reset: lowest;
   counter-increment: subsubparagraph;
}


.content h1:not(.blog_name):not(.appendix):not(.references):nth-of-type(n)::before {
  content: counter(section) " ";
}


.content h2:not(.blog_title):nth-of-type(n)::before {
  content: counter(section) "."  counter(subsection) "  " ;
}

.content h3::before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
}

.content h4::before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) " ";
}


.content h5::before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) "." counter(subparagraph) " ";
}

.content h6::before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) "." counter(subparagraph) "." counter(subsubparagraph)" ";
}


p {
  line-height: 2;
  text-indent: 0rem;
  color:  var(--hover-color);
}

.blog_name {
  display: block;
  font-family: monospace;
  color: white;
  text-align: right;
  font-size: 30px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color:  #002241;
  padding-right: 5px;
  border-bottom: none;
}

.blog_title {
  color: var(--hover-color);
  background: white;
  font-size: 1.75rem;
  text-align: left;
}

