
.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
   max-width: 45rem;
  height: auto;
}

.figDivLabel{
  max-width: 45rem;
  position: relative;
   display: flex;
  color: var(--navbar-color);
  font-weight: bold;
}


.figTitle{
   max-width: inherit;
  color: var(--navbar-color);
  padding-bottom: 0.5rem;
  font-style: italic;
}

.figLabel{
  width: inherit;
}

.figNote{
   max-width: inherit;
  position: relative;
  font-size: 9pt;
  display: flex;
}



.figLabel::before {
  display: block;
  content: "";
  width: 6.75rem;
  height: 2.25rem;
  position: absolute;
  top: -0.5rem;
  left: -1rem;
  border-top: 1.5px solid var(--hover-color);
  border-left: 1.5px solid var(--hover-color);
}


.figLabelAbout::before {
  display: block;
  content: "";
  width: 6.75rem;
  height: 2.25rem;
  position: absolute;
  top: -0.5rem;
  left: -1rem;
  border-top: 1.5px solid var(--hover-color);
  border-left: 1.5px solid var(--hover-color);
}


.figNote::before {
  display: block;
  content: "";
  width: 6.75rem;
  height: 2.25rem;
  position: absolute;
  bottom: -0.5rem;
  right: -1rem;
  border-bottom: 1.5px solid var(--hover-color);
  border-right: 1.5px solid var(--hover-color);
}


.theta {
			font-style: normal; /* or font-style: initial; */
}


/* Media Queries */
/* Media Queries */
@media (max-width: 1350px) {

  .figure {
    max-width: 25rem;
    min-width: 25rem;
  }

  .figDivLabel {
    max-width: 25rem;
  }

}


@media (max-width: 450px){

 .figure {
    min-width: 15rem;
    max-width: 15rem;
  }



}


