
.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 42.5rem;
  margin: 0 auto;
}

img{
  max-width: 42.5rem;
}

.figDivLabel{
  position: relative;
   display: flex;
  color: var(--navbar-color);
  font-weight: bold;
}

.figTitle{
  color: var(--navbar-color);
  padding-bottom: 0.5rem;
  font-style: italic;
}

.figNote{
  position: relative;
  font-size: 9pt;
  display: flex;
}

.figLabel::before {
  display: block;
  content: "";
  width: 6.75rem;
  height: 2.25rem;
  position: absolute;
  top: -0.5rem;
  left: -1rem;
  border-top: 1.5px solid var(--hover-color);
  border-left: 1.5px solid var(--hover-color);
}


.figLabelAbout::before {
  display: block;
  content: "";
  width: 6.75rem;
  height: 2.25rem;
  position: absolute;
  top: -0.5rem;
  left: -1rem;
  border-top: 1.5px solid var(--hover-color);
  border-left: 1.5px solid var(--hover-color);
}


.figNote::before {
  display: block;
  content: "";
  width: 6.75rem;
  height: 2.25rem;
  position: absolute;
  bottom: -0.5rem;
  right: -1rem;
  border-bottom: 1.5px solid var(--hover-color);
  border-right: 1.5px solid var(--hover-color);
}


.theta {
			font-style: normal; /* or font-style: initial; */
}

