
body {
  font-family: monospace;
}


/*side panel of navigation bar  */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20rem; /*keeps same width as window changes width */
  height: 100vh; /*entire height of window  */
  background: var(--navbar-color);
}



/*font specification of sidebar title  */
.blog_name {
  display: block;
  color: white;
  text-align: right;
  font-size: 30px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color:  #002241;
  padding-right: 5px;
}

/*specification of list style*/
.navbar-links{
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 15px;
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 5px;
 }


/*embolden and underline when link in navigation bar is clicked*/
 .navbar-links a:hover {
 font-weight: bold;
 text-decoration: underline;
 background-color: #00182d;
}

.home{
  color: var(--home-color);
}

.technical{
  color: var(--technical-color);
}

.coding {
  color: var(--coding-color);
}

.simulation {
  color: var(--simulation-color);
}

.resources {
  color: var(--resources-color);
}

.about{
  color: var(--about-color);
}

.portal {
  color: #fff;
  font-size: 12px;
  position: absolute;
        bottom: 50px;
        right: 50%;
}

/*styling for toggle button*/
.toggle-button {
  position: absolute; /*allows bars to be positioned in top right corner*/
  flex-direction: column;  /*bars line up on top of each other */
  justify-content: space-between;
  background: #002241;
  border: white;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


mjx-mtext > mjx-c::before {
  padding-top: .75em ! important;
  padding-bottom: .25em ! important;
}






