

@media (max-width: 1200px) {

    body{
      padding: 0;
      margin: 0;
    }

    .page_holder, .blog_post{
    box-sizing: border-box;
    padding: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 0;
    margin: 0 auto;
  }


    /*toggle button appears as three vertically oriented lines
    /*h1 title is vertically oriented */
   .blog_name {
     text-align: left;
     padding-left: 1rem;
     padding-bottom: 1rem;
   }

    /*change sidebar to a topbar*/
  .navbar {
    position: sticky;
    height: fit-content;
    width: 100%;
    z-index: 5;
   }

    .navbar-links {
    display: none;
    position: absolute;
    width: 25%;
    text-align: right;
    background-color: var(--navbar-color);
    min-width: 250px;
    z-index: 2;
    padding: 0;
    margin: 0;
  }

    /*if actve, then display = flex and list items are shown in their vertical orientation  */
    .navbar-links.active {
        display: block;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0px;
    }

    .navbar-links.active li a{
      padding-right: 2rem;

    }

      /*toggle button appears as three vertically oriented lines  */
   .toggle-button {
     position: absolute;
     display: flex;
     min-width: 60px; /*needed so that padding does not compress horizontal bars */
     min-height: 50px;/*needed so that padding does not compress horizontal bars */
     padding: 15px;
     top: 15px;
     right: 0px;
   }

    .toggle-button:hover {
     background-color: var(--hover-color);
   }



  /*TOC button  */



   .portal {
   position: initial;
   }

}

@media (max-width: 765px) {

.toc_container {
  width: 10rem;
}




}

@media (max-width: 500px) {

.toc_scroll{
  position: fixed;
  bottom: -5px;
  right: 0;
  left: 0;
  padding: 0;
    margin: 0;
     max-width: 100%;
      z-index: 2;
}
  .toc_container {
   position: -webkit-sticky; /* Safari */
  bottom: 25px;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 250px;
  width: 100%;
 padding-right: 2rem;
  z-index: 2;
  }

.tableContents{
   position: -webkit-sticky; /* Safari */
  font-family: Helvetica !important;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 4rem;
  padding-left: 0;
  top: 2rem; /* adjust this value based on your needs */
  bottom: 2rem;
  height: 160px; /* subtract the top value to prevent overlap with toc_container */
  background-color: white;
  z-index: 2; /* set a higher z-index to make it appear on top of other elements */
  padding-top: 1rem;
}

  #toc_button{display: none}

  #toc_button_bottom {
    display: block;
  position: fixed;
  bottom: -5px;
  right: 0;
  left: 0;
  padding: 0;
    margin: 0;
  width: 100%;
  height: 40px;
  background-color: var(--navbar-color);
  cursor: pointer;
  color: white;
  border: none;
    z-index: 3;
}






button[id = "collapseButton"] {
  min-width: 40px;
}




}




