/* BLOG POST SUMMARY PAGE*/
/* bottom right corner border */


.section_title{
  font-size: 32px;
}
.page_holder, {
  box-sizing: border-box;
  padding: 0;
  margin-left: var(--navbar-width);
  font-family: baskerville;
}


.technical_summ, .simulation_summ, .coding_summ,  {
    position: relative;
    max-width: 45rem;
    height: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    background: white;
}

.technical_summ:after, .simulation_summ:after, .coding_summ:after{
  display: block;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: -5%;
  right: 0;
  left: -0.65rem;
  border-left: 4px solid var(--technical-color);
  border-top: 4px solid var(--navbar-color);
}

.simulation_summ:after {
  border-left: 4px solid var(--simulation-color);
}

.coding_summ:after {
    border-left: 4px solid var(--coding-color);
}


/*bottom right corner border*/
.technical_summ:before, .simulation_summ:before, .coding_summ:before {
    display: block;
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 97%;
    left: 95%;
    border-bottom: 3px solid var(--navbar-color);
    border-right: 3px solid var(--navbar-color);
}



/*css for unordered list*/
.posts{
  padding: 0;
}

.posts a{
  text-decoration: none;
  color: var(--navbar-color);
}

.posts a:hover{
  color: blue;
}

.items {
  font-size: 15px;
  list-style: none;
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: var(--navbar-color);
}

.items a:visited {
  color: #4B4747;
}

.items a:hover {
 text-decoration: underline;
}

