

.toc_scroll{
  padding: 0;
  margin: 0;
  margin-right: 1rem;
  text-align: left;
}

.toc_container {
   position: -webkit-sticky; /* Safari */
  top: 2rem;
  height: inherit;
  width: 14rem;
  overflow-y: auto;
 padding-right: 2rem;
}

.tableContents{
   position: -webkit-sticky; /* Safari */
  font-family: Helvetica !important;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 4rem;
  padding-left: 0;
  top: 2rem; /* adjust this value based on your needs */
  bottom: 10rem;
  height: 550px; /* subtract the top value to prevent overlap with toc_container */
  background-color: white;
  z-index: 2; /* set a higher z-index to make it appear on top of other elements */
  overflow-y: auto;
}



.tableContentsList a {
  text-decoration: none;
  display: block;
  padding: 0;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

ul.tableOfContentsList li {
  margin-bottom: 5px; /* adjust the value to increase/decrease spacing */
}

.tableOfContentsList {
  list-style: none;
  padding: 0;
   padding-left: 1.5rem;
   padding-bottom: 2rem;
  margin: 0;
}


//title of table of contents
.tableContents span {
  display: inline-block;
   padding-left: 1.5rem;
  margin-bottom: 10px;
  font-size: .80rem;
  text-decoration: underline;
}

.tableContents ul li a{
 display: inline-block;
}

/*indenting in ToC */
.tableContents ul li a[header-level= "h2"]{
  padding-left: 0.40rem;
}

/*indenting in ToC */
.tableContents ul li a[header-level= "h3"]{
  padding-left: 0.80rem;
}

/*indenting in ToC */
.tableContents ul li a[header-level= "h4"]{
  padding-left: 1.2rem;
}

/*indenting in ToC */
.tableContents ul li a[header-level= "h5"]{
  padding-left: 1.6rem;
}

/*indenting in ToC */
.tableContents ul li a[header-level= "h6"]{
  padding-left: 2.0rem;
}


/*remove bullet points*/
.tableContents li{
  list-style-type: none;
}


/*list item colors in ToC*/
.tableContents .active {
  color: var(--navbar-color) !important;
}

.tableContents ul li a[href*="#"]{
   color: gray;
   text-decoration: none;
}

.tableContents ul li a[href*="#"]:visited{
   color: gray;
}

.tableContents ul li a[href*="#"]:hover{
   color: var(--navbar-color);
   text-decoration: none;
}



.toc_scroll{
  padding: 0;
  margin: 0;
  text-align: left;
}


#toc_button {
    display: block;
  position: fixed;
  top: 6rem;
  right: 0.60rem;
  height: 550px;
  width: 20px;
  background-color: var(--navbar-color);
  cursor: pointer;
  color: white;
  border: none;
}

#toc_button_bottom{
  display: none;
}
#toc_button:hover, #toc_button_bottom:hover {
  background-color: #393939;
}


#toc_button i {
  position: absolute;
  left: 4.5px;
  border: none;
  vertical-align: middle; /* align the tag vertically in the middle of the button */
  background-color: var(--navbar-color);
  z-index: 10;
}



#toc_button:hover i #toc_button_bottom i{
   background-color: #393939;
}



