
:root {
  --navbar-color: #002241;
  --navbar-width: 10rem;
  --home-color: #d170c7;
  --technical-color: #33c304;
  --coding-color:  #e38f01;
 --simulation-color: #C7547D;
  --resources-color: #9DFFFF;
  --about-color: #d4bd04;
  --hover-color: #00182d;
}


@import 'tables';
@import 'figures';
@import 'sectionContents';
@import 'codeTables';
@import 'footnotes';
@import 'hyperlinks';
@import 'content';
@import 'navbar';
@import 'tableContents';
@import 'chroma';
@import 'responsive';


  /* set default font size; useful for browsers like Firefox that use different reference font sizes */

.toggle-button:hover{
  cursor: pointer;
}
.giscus{
  position: relative;
   margin: 0 auto;
    max-width: 800px;
}

@media (max-width: 450px) {

 .container{

     padding-left: 0rem;
}





}






